
Ruleset/rulesetModules/oldMissionSystem
Resources/Weapons_Compilation/XComWeapons/bigob_ObliCannon2.png
Resources/Weapons_Compilation/XComWeapons/bigob_ObliRifle2.png
Ruleset/remainingVanillaSounds.disabled
Ruleset/rulesetModules/itemsGasGrenades.disabled
Ruleset/rulesetModules/itemsShields.disabled
