
Ruleset/rulesetModules/oldMissionSystem
Ruleset/rulesetModules/itemsShields.disabled
Ruleset/remainingVanillaSounds.disabled
Ruleset/rulesetModules/itemsGasGrenades.disabled
Resources/Weapons_Compilation/XComWeapons/bigob_ObliCannon2.png
Resources/Weapons_Compilation/XComWeapons/bigob_ObliRifle2.png
